*{
    margin: 0;
    padding: 0;
    
    outline: none;
    border: none;
    box-sizing: border-box;
}

body{
    min-height: 100%;
    background: radial-gradient(white,grey);
}

.wrapper{
    width: 300px;
    height: 350px;
    margin:50px auto;
    border: solid 8px black;
    border-radius: 20px;
    background-color: white;
}

.header{
    width:100%;
    text-align: center;
    height: 50px;
    background: linear-gradient(black,white);
    border-radius: 10px 10px 0 0;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    padding-top: 10px;
    color:greenyellow;
    font-size: 2em;
        
}

span{
    border-bottom: dashed 2px black;
    display: block;
    width: 100%;
    height: 90%;
}

.wrap-list
{
 height: 85%;
    width: 100%;
    border-radius: 0 0 10px 10px;
}

input[type="checkbox"]{
    position: relative;
    top: 14px;
    right: 12px;
    float: right;
    
}

input[type="checkbox"]:checked + label{
    text-decoration: line-through;
    color:rgba(0,0,0,0,3);
}

.list{
    list-style: none;
    color: rgba(0,0,0,0,.8);
}

.list li{
    width: 100%;
    float: left;
}

label
{
    padding: 10px;
    float: left;
    width: 90%;
}

.grey{
    background: rgba(0,0,0,.1);
}