body{
    font-family: 'Exo 2', sans-serif;
}

/*
.sidebar{
    display: none;
}
*/

.nav-sidebar
{
    margin: 80px -20px 20px 20px;
    
}

.nav-sidebar >li >a{
    padding: 20px 20px;
}

.main{
    margin-top: 50px;

}


.placeholders{
    margin-top: 10px;
    margin-bottom: 30px;
}

.placeholder{
    margin-bottom: 20px;
    text-align: center;
}

.placeholder img{
    display: inline;
    border-radius: 50%;
}